<div class="masthead m-t-3">
<h3>About Me</h3>
<p>
    Hey what's up? Thanks for coming and checking out my site. My name's Hayden Miedema.
    I'm a 23 year old Software and Web Developer. I graduated from Grand Valley State University
    with two degrees - one in Computer Science and the other in Statistics. I love the analyical,
    behind the scenes workings and performance of applications and programs.
</p>
</div>

<div class="masthead">
<h3>Skills</h3>
<p>
    Fluent in
    <span class="tag tag-default">C#</span>
    <span class="tag tag-default">.NET</span>
    <span class="tag tag-default">ASP.NET MVC</span>
    <span class="tag tag-default">SQL</span>
    <span class="tag tag-default">HTML5</span>
    <span class="tag tag-default">CSS3</span>
    <span class="tag tag-default">Bootstrap </span>
    <span class="tag tag-default"> JAVA </span>
    and am improving on my
    <span class="tag tag-default">JavaScript</span>
    <span class="tag tag-default">AngularJS</span>
     every day.
</p>
</div>

<div class="masthead">
<h3>Professional Inspirations</h3>
<p>
    I would like to continue to explore Software and Web Development while advancing
    in my career through networking and other professional events. I pride myself on being able
    to bridge the gap between software and business. 
</p>
</div>
