<div class="masthead m-t-3">
<h3>About Me</h3>
<p>
    Hey what's up? Full name's Douglas but most call me Doug. I have a passion
    for creating cool things. I really enjoy working with web related technologies.
    Although, I enjoy the web I find myself working in the world of Object Oriented Programming
    more times than not.
</p>
</div>

<div class="masthead">
<h3>Skills</h3>
<p>
    Fluent in 
    <span class="tag tag-default">C#</span>
    <span class="tag tag-default">.NET</span> 
    <span class="tag tag-default">ASP.NET MVC</span>
    <span class="tag tag-default">SQL</span> 
    <span class="tag tag-default">HTML5</span>
    <span class="tag tag-default">CSS3</span>
    <span class="tag tag-default">Bootstrap </span>
    <span class="tag tag-default"> JAVA </span>
    and am improving on my
    <span class="tag tag-default">JavaScript</span>
    <span class="tag tag-default">AngularJS</span>
     every day. 
</p>
</div>

<div class="masthead">
<h3>Professional Inspirations</h3>
<p>
    My end goal is to be as cool as <a href="http://stackoverflow.com/users/22656/jon-skeet">John Skeet</a>. Additionally, I would like to have Senior level Software Development skills within the next
    5 years.
</p>
</div>